# Add any directories, files, or patterns you don't want to be tracked by version control

*.asv
*.sto
*.log
*.png
!/FiguresForDocumentation/*.png
*.jpg
*.eps

Debug/*
opensimAD/*
App
Subjects/*
!Subjects/README.md
!Subjects/Hamner_modified/
Subjects/Hamner_modified/*
!Subjects/Hamner_modified/*.osim
!Subjects/Hamner_modified/*.txt
!Subjects/Hamner_modified/*.md

!Subjects/Falisse_et_al_2022/
Subjects/Falisse_et_al_2022/*
!Subjects/Falisse_et_al_2022/*.osim
!Subjects/Falisse_et_al_2022/*.txt
!Subjects/Falisse_et_al_2022/*.md
!Subjects/Falisse_et_al_2022/settings*.m

!Subjects/DHondt_2023_3seg/
Subjects/DHondt_2023_3seg/*
!Subjects/DHondt_2023_3seg/*.osim
!Subjects/DHondt_2023_3seg/*.md
!Subjects/DHondt_2023_3seg/settings*.m

!Subjects/DHondt_2023_2seg/
Subjects/DHondt_2023_2seg/*
!Subjects/DHondt_2023_2seg/*.osim
!Subjects/DHondt_2023_2seg/*.md
!Subjects/DHondt_2023_2seg/settings*.m

