# Add any directories, files, or patterns you don't want to be tracked by version control

*.asv
*.sto
*.log
*.png
!/FiguresForDocumentation/*.png
*.jpg
*.eps
Debug/*
opensimAD/*
App
Subjects/*
!Subjects/Hamner_modified/
Subjects/Hamner_modified/*
!Subjects/Hamner_modified/*.osim
!Subjects/Hamner_modified/*.txt
!Subjects/Hamner_modified/*.md

!Subjects/Falisse_et_al_2022/
Subjects/Falisse_et_al_2022/*
!Subjects/Falisse_et_al_2022/*.osim
!Subjects/Falisse_et_al_2022/*.txt
!Subjects/Falisse_et_al_2022/*.md

Osim2Dll_exe/*