# Add any directories, files, or patterns you don't want to be tracked by version control

*.asv
*.sto
*.log
*.png
*.jpg
*.eps

/opensimAD/
/Subjects/
!/Subjects/Hamner_modified/
!/Subjects/Falisse_et_al_2022/
!/FiguresForDocumentation/*.png

